@tailwind base;
@tailwind components;
@tailwind utilities;

/* IE and Edge */
* {
  -ms-overflow-style: none;
}

/* Chrome */
::-webkit-scrollbar {
  display: none;
}

.canvas-experience {
  touch-action: none;
}

#root {
  @apply relative top-0 left-0 w-full h-screen
}

@layer base {
  @font-face {
    font-family: "Tomorrow Regular";
    src: url("../../fonts/tmr_regular.ttf");
  }
  
  @font-face {
    font-family: "Tomorrow Bold";
    src: url("../../fonts/tmr_bold.ttf");
  }
  
  @font-face {
    font-family: "Tomorrow Light";
    src: url("../../fonts/tmr_light.ttf");
  }
}