@import "/node_modules/augmented-ui/augmented-ui.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scrollbar */
/* IE and Edge */
* {
  -ms-overflow-style: none;
}

/* Chrome */
::-webkit-scrollbar {
  display: none;
}

@layer base {
  @font-face {
    font-family: 'Dune Rise';
    src: url('./fonts/Dune-Rise.otf')
  }

  @font-face {
    font-family: 'Stellar Light';
    src: url('./fonts/Stellar-Light.otf');
  }

  @font-face {
    font-family: 'Stellar Regular';
    src: url('./fonts/Stellar-Regular.otf');
  }

  @font-face {
    font-family: 'Stellar Medium';
    src: url('./fonts/Stellar-Medium.otf');
  }
}

/* CSS Variables */
@property --colorAlpha {
  syntax: "<color>";
  initial-value: #ed0101;
  inherits: true;
}

@property --colorBeta {
  syntax: "<color>";
  initial-value: #0c44ac;
  inherits: true;
}

html {
  --aug-bg: linear-gradient(-135deg, var(--colorAlpha), var(--colorBeta));
  animation: colorGradient 10s ease alternate infinite;
}

@keyframes colorGradient {
  0%, 100% { 
    --colorAlpha: #ed0101;
    --colorBeta: #0c44ac;
  }
  50% { 
    --colorAlpha: #970005; 
    --colorBeta: #000052;
  }
}

/* Cyber Border */
.cyber-border {
  --aug-clip-t1: initial;
  --aug-clip-t2: initial;
  --aug-clip-r1: initial;
  --aug-clip-r2: initial;
  --aug-clip-l1: initial;
  --aug-clip-l2: initial;
  --aug-t-extend1: 25%;
  --aug-r-extend1: 50%;
  --aug-l-extend1: 50%;
}

.cyber-border-color {
  --aug-inlay-all: 7.5px;
  --aug-border-bg: var(--aug-bg);
  --aug-inlay-bg: #dee2e6;
}

/* Style on Glitched Write classes */
/* Loading Glitched Effect */
#glitched-loading,
.glitched-title {
  animation: g-skew 0.25s steps(10, end) infinite alternate-reverse;
}

#glitched-loading::before, #glitched-loading::after,
.glitched-title::before, .glitched-title::after {
  content: attr(data-gw-string);
  @apply absolute top-0 right-0 bottom-0 left-0;
}

#glitched-loading::before,
.glitched-title::before {
  @apply text-red opacity-75;
  animation: g-animate-2 2s steps(20, end) infinite alternate-reverse;
}

#glitched-loading::after,
.glitched-title::after {
  @apply text-blue opacity-75;
  animation: g-animate-1 1.5s steps(20, end) infinite alternate-reverse;
}

/* Animation on Glitched Write classes */
/* Original Text */
@keyframes g-skew {
  0% { transform: skew(-1deg) }
  10% { transform: skew(3deg) }
  20% { transform: skew(4deg) }
  30% { transform: skew(2deg) }
  40% { transform: skew(3deg) }
  50% { transform: skew(-4deg) }
  60% { transform: skew(-3deg) }
  70% { transform: skew(2deg) }
  80% { transform: skew(-2deg) }
  90% { transform: skew(-2deg) }
  100% { transform: skew(1deg) }
}

/* Duplicate Before */
@keyframes g-animate-1 {
  0% { clip: rect(39px, 1000px, 60px, 0); transform: skew(8deg) translateX(-3px) translateY(-10px) }
  5% { clip: rect(100px, 1000px, 62px, 0); transform: skew(3deg) translateX(10px) translateY(-10px) }
  10% { clip: rect(60px, 1000px, 39px, 0); transform: skew(4deg) translateX(-10px) translateY(-10px) }
  15% { clip: rect(47px, 1000px, 81px, 0); transform: skew(3deg) translateX(-14px) translateY(-10px) }
  20% { clip: rect(29px, 1000px, 64px, 0); transform: skew(-1deg) translateX(-1px) translateY(-10px) }
  25% { clip: rect(15px, 1000px, 4px, 0); transform: skew(-5deg) translateX(10px) translateY(-10px) }
  30% { clip: rect(8px, 1000px, 81px, 0); transform: skew(7deg) translateX(-10px) translateY(-10px) }
  35% { clip: rect(63px, 1000px, 42px, 0); transform: skew(-6deg) translateX(-4px) translateY(-10px) }
  40% { clip: rect(69px, 1000px, 76px, 0); transform: skew(-6deg) translateX(10px) translateY(-10px) }
  45% { clip: rect(63px, 1000px, 20px, 0); transform: skew(0) translateX(1px) translateY(-10px) }
  50% { clip: rect(54px, 1000px, 72px, 0); transform: skew(-3deg) translateX(-5px) translateY(-10px) }
  55% { clip: rect(45px, 1000px, 88px, 0); transform: skew(7deg) translateX(-4px) translateY(-10px) }
  60% { clip: rect(82px, 1000px, 55px, 0); transform: skew(2deg) translateX(-13px) translateY(-10px) }
  65% { clip: rect(30px, 1000px, 57px, 0); transform: skew(2deg) translateX(-3px) translateY(-10px) }
  70% { clip: rect(77px, 1000px, 65px, 0); transform: skew(2deg) translateX(10px) translateY(-10px) }
  75% { clip: rect(24px, 1000px, 76px, 0); transform: skew(-3deg) translateX(5px) translateY(-10px) }
  80% { clip: rect(21px, 1000px, 48px, 0); transform: skew(4deg) translateX(-7px) translateY(-10px) }
  85% { clip: rect(41px, 1000px, 73px, 0); transform: skew(-6deg) translateX(-4px) translateY(-10px) }
  90% { clip: rect(5px, 1000px, 88px, 0); transform: skew(8deg) translateX(0) translateY(-10px) }
  95% { clip: rect(85px, 1000px, 37px, 0); transform: skew(-2deg) translateX(3px) translateY(-10px) }
  100% { clip: rect(55px, 1000px, 41px, 0); transform: skew(-5deg) translateX(-12px) translateY(-10px) }
}

/* Duplicate After */
@keyframes g-animate-2 {
  0% { clip: rect(62px, 1000px, 55px, 0); transform: skew(2deg) translateX(4px) translateY(10px) }
  5% { clip: rect(13px, 1000px, 46px, 0); transform: skew(5deg) translateX(-7px) translateY(10px) }
  10% { clip: rect(88px, 1000px, 95px, 0); transform: skew(-1deg) translateX(1px) translateY(10px) }
  15% { clip: rect(57px, 1000px, 84px, 0); transform: skew(0) translateX(1px) translateY(10px) }
  20% { clip: rect(37px, 1000px, 4px, 0); transform: skew(3deg) translateX(10px) translateY(10px) }
  25% { clip: rect(97px, 1000px, 91px, 0); transform: skew(4deg) translateX(4px) translateY(10px) }
  30% { clip: rect(42px, 1000px, 90px, 0); transform: skew(-1deg) translateX(-5px) translateY(10px) }
  35% { clip: rect(68px, 1000px, 38px, 0); transform: skew(2deg) translateX(-7px) translateY(10px) }
  40% { clip: rect(22px, 1000px, 49px, 0); transform: skew(-1deg) translateX(-8px) translateY(10px) }
  45% { clip: rect(66px, 1000px, 13px, 0); transform: skew(-2deg) translateX(2px) translateY(10px) }
  50% { clip: rect(62px, 1000px, 84px, 0); transform: skew(3deg) translateX(6px) translateY(10px) }
  55% { clip: rect(61px, 1000px, 83px, 0); transform: skew(-3deg) translateX(8px) translateY(10px) }
  60% { clip: rect(41px, 1000px, 85px, 0); transform: skew(4deg) translateX(-1px) translateY(10px) }
  65% { clip: rect(89px, 1000px, 97px, 0); transform: skew(3deg) translateX(7px) translateY(10px) }
  70% { clip: rect(26px, 1000px, 87px, 0); transform: skew(-4deg) translateX(-3px) translateY(10px) }
  75% { clip: rect(23px, 1000px, 73px, 0); transform: skew(-2deg) translateX(10px) translateY(10px) }
  80% { clip: rect(81px, 1000px, 30px, 0); transform: skew(2deg) translateX(-2px) translateY(10px) }
  85% { clip: rect(12px, 1000px, 44px, 0); transform: skew(-2deg) translateX(10px) translateY(10px) }
  90% { clip: rect(27px, 1000px, 12px, 0); transform: skew(1deg) translateX(-2px) translateY(10px) }
  95% { clip: rect(75px, 1000px, 30px, 0); transform: skew(3deg) translateX(5px) translateY(10px) }
  100% { clip: rect(8px, 1000px, 20px, 0); transform: skew(1deg) translateX(4px) translateY(10px) }
}