@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Dune Rise';
    src: url('./fonts/Dune-Rise.otf')
  }

  @font-face {
    font-family: 'Stellar Light';
    src: url('./fonts/Stellar-Light.otf');
  }

  @font-face {
    font-family: 'Stellar Regular';
    src: url('./fonts/Stellar-Regular.otf');
  }

  @font-face {
    font-family: 'Stellar Medium';
    src: url('./fonts/Stellar-Medium.otf');
  }
}